@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<select name="Role">
@foreach (var item in ViewBag.list)
{
    <option value="@item.Id" > @item.Name</option>
}
</select>
